body{
  font-family: 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
}

#circulo {
  height: 50px;
  width: 50px;
  display: table-cell;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
  border-radius: 50%;
  background: #9B2671;
  color: #ffff;
}

.descargarbtn{
  background-color: #E75978;
  color: #fff;
}

/*Navbar*/
.bg-faded {
  background: transparent;
 
}

#navbarNav a {
  color: #9B2671;
}

.navbar-brand {
  color: #9B2671;
}

#navbarNav {
  position: absolute;
  right: 10px;
  z-index: 999;
  width: max-content;
  
}

@media (min-width: 992px) {
  
.navbar-toggleable-md .navbar-collapse {
  flex-direction: row-reverse;
  }
}
/*Header*/

.main-container {
  background-image: url(../assets/background_home.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25em;
  overflow: hidden;
}

#typed {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #E75978;
}

#typedsecond {
  font-family: 'Rubik', sans-serif;
  color: #4D4D4D;
  font-size: 30px;
  font-weight: 700;
}

.masthead{
  text-align: left;
  padding: 125px 0;
}



.col-lg-7.col-center {
  position: initial;
}

@media only screen and (max-width: 991px) and (min-width: 100px)  {

header.masthead .masthead-brand {
  font-size: 5rem;
  line-height: 5rem;
}

.masthead {
  padding: 125px 0;
  text-align: center;
    }
}



  @media only screen and (max-width: 991px) and (min-width: 100px)  {

  #navbarNav {
    top: 50px;
    }
}

  @media only screen and (max-width: 991px) and (min-width: 740px){
    .masthead{
      text-align: left;
  }
}

/* Decoration */

.decoration-main{
  padding: 0;
}
.decoration {
  background-color: #9B2671;
  height: 1.8vh;
}

/* Aboutme */

.container-second{
  margin-top: 50px;
}

.sent p{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: rgb(63, 63, 63);
}

.email p{
  display: inline;
  color: #E75978;
}

.message.sent {
  background: #efa4b14f;
  border-radius: 5px 0px 5px 5px;
  float: right;
  padding: 8px 30px;
  margin-top: 10px;
}

.avatar {
  background-image: url(../assets/foto_mejorando2.png);
  height: 220px;
  width: 220px;
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 50%;
  background-size: 145% auto;
  float: left;
  top: 30px;
}


.container-text {
    display: flex;
    justify-content: center;
    align-items: center;
}



@media only screen and (max-width: 991px) and (min-width: 100px)  {


.col-lg-2.container_avatar {
  display: flex;
  justify-content: center;
  position: absolute;
}
.col-center{

  position: relative;
  top: 230px;
}

.container_avatar{
  max-width: 100%;
 
}


.container.container_avatar {
  height: auto;
}


}


/* Section 3 */
.container-color{
  margin-top: 40px;
}


.flex-container{
  max-width: 960px;
  width: 90%;
  list-style-type: none;
  margin: 20px auto;
  /* padding: 10px; */
  display: flex;
  flex-flow: row wrap;
  /* margin-top: 20px; */
  justify-content: center;
}

.item{
  height:280px;
  width:280px;
  line-height:200px;
  font-size:20px;
  background-color:steelblue;
  color:#fff;
  text-align:center;
  margin:5px 5px; 
}

/* Portafolio */

section.trabajos {
  margin-top: 10vh;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.mx-auto {
  margin-bottom: 20px;
  text-align: center;
}

.sb-preview .card .card-body {
  padding: 1.5rem 1.5rem 0;
}

.sb-preview .card .card-footer {
  padding: .75rem 1.5rem 1.5rem;
  border: 0;
  background: transparent;
}

/* Section 4 */

.fondo_bajo{
  background-image: url(../assets/fondo_bajo.svg);
  background-repeat: no-repeat;
  height: 50vh;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
  height: 80vh;
  color: #9B2671;
}

.centrado h3{
color: #E75978;
}

.container-info{
  text-align: center;
}

.icons{
  font-size: 5em;
  display: inline;
}



.correo h3{
  color: #E75978;
}
 
/* footer */

.footer{
  background-color: #9B2671;
  height: 5.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: beige;
  font-size: 0.8em;
  text-align: center;
  margin: 0;
  padding: 0;
 
}
