body{
  font-family: 'Rubik', sans-serif;
}

/* navbar */

.navbar-header {
  display: inline-block;
}

.nav-item .nav{
  color: #7E305E;
  line-height: 70px;
}

/* Primera section */

.main-container {
  background-image: url("../assets/background_home-01.svg");
  background-repeat: no-repeat;
  background-position: top right;
  height: 78vh;
  overflow: hidden;
}

#typed {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 55px;
  color: #E75978;
}

#typedsecond {
  font-family: 'Rubik', sans-serif;
  color: #4D4D4D;
  font-size: 41px;
  font-weight: 700;
}

.container_name {
  position: absolute;
  top: 22%;
  /* left: 10% */
}

/* Segunda section */

.container-second {
  margin: 20px;
}

.message.sent {
  background: #efa4b14f;
  border-radius: 5px 0px 5px 5px;
  float: right;
  padding: 8px 30px;
  margin-top: 10px;
}

.avatar {
  background-image: url(../assets/foto_mejorando2.png);
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 50%;
  background-size: 145% auto;
  float: left;
}

/* Section 3 */
.container-color{
  margin-top: 40px;
}

.flex-container{
  max-width: 860px;
  width: 90%;
  list-style-type: none;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  margin-top: 20px;
}

.item{
  height:250px;
  width:250px;
  line-height:200px;
  font-size:20px;
  background-color:steelblue;
  color:#fff;
  text-align:center;
  margin:5px 5px; 
}

@media (max-width: 767px) {
  .navbar-toggleable-sm {
    clear: both;
  }
  .main-container {
    zoom: 0.7;
  }

  .container_name{
    zoom: 0.7;
    top: 15%;
  }
}



/* .navbar-inner {
  height: 70px;
  overflow: hidden;
  outline: 1px solid blue;
}

#navbar .nav-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  outline: 1px solid red;
}

.menu ul {
  list-style: none;
}

.menu ul li{
  float: left;
  /* padding: 30px; */
  
/* }

.menu ul li a {
  line-height: 70px;
}
 */ */
